
@{
    ViewBag.Title = "Index";
}

<h2>Burada Ana Sayfa Sayfası Olacaktır.</h2>


<h4 style="margin-top:100px;"><b>Ad-Soyad</b>: Ali Şahin Demir</h4>
<h4><b>Fakülte</b>: Bilgisayar ve Bilişim Bilimleri Fakültesi</h4>
<h4><b>Bölüm</b>: Bilgisayar Mühendisliği</h4>
<h4>
    <b>Öğrenci No</b>: G101210043
</h4>